.title {
  font-size: 30px;
}

.mat-stroked-button.mat-primary {
  color: black !important;
  font-size: 15px;
}

.mat-stroked-button:not([disabled]) {
  border-color: rgba(0,0,0,.5) !important;
}

td {
  text-align: center;
}

th {
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-spacing: 15px;
}

.modal__buttons {
  display: flex;
  justify-content: center;
}