<!-- <div class="modal__overlay">
        <div class="modal">
            <div class="modal__content">
                <h2 class="title">Statistics</h2>
                <br>
                <table matSort class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Most popular course domain</th>
                            <th>Predominant domain of my past courses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ bestCourse }}</td>
                        <td>{{ bestPastCourse }}</td>
                    </tbody>
                </table>
                <div class="modal__buttons">
                    <button mat-button appPreventDoubleClick (throttledClick)="onNoClick()" [throttleTime]="1000">Cancel</button>
                    <button mat-button [mat-dialog-close]>Ok</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="modal__overlay">
        <div class="modal">
            <div class="modal__content">
                <h2 class="title">Statistics</h2>
                <br>
                <fusioncharts width="700" height="400" type="Column2d" [dataSource]="dataSource">
                </fusioncharts>
                <table matSort class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Days of attended courses: </th>
                            <th>Days of upcoming courses: </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ attendedDays }}</td>
                        <td>{{ upcomingDays }}</td>
                    </tbody>
                </table>
                <div class="modal__buttons">
                    <!-- <button mat-button appPreventDoubleClick (throttledClick)="onNoClick()" [throttleTime]="1000">Cancel</button> -->
                    <button mat-button [mat-dialog-close]>Ok</button>
                </div>
            </div>
        </div>
    </div>