<div class="modal__overlay">
    <div class="modal">
        <div class="modal__content">
            <h2 class="title">User Info</h2>
            <div class="inputs_container">
                <table matSort class="table table-hover">
                    <thead class="thead-dark">
                        <th>Leader: </th>
                        <th>Accepted courses: </th>
                        <th>Rejected courses: </th>
                        <th>Waiting to enroll: </th>
                        <th>Last enrolled course: </th>
                    </thead>
                    <tbody>
                        <td>{{ user.leader }}</td>
                        <td>{{ user.courses.length }}</td>
                        <td>{{ user.rejectedList.length }}</td>
                        <td>{{ user.waitToEnroll.length }}</td>
                        <td>
                            <span *ngIf="user.courses.length; else noCourse">
                                {{ user.courses[this.user.courses.length - 1]?.courseName }}
                            </span>
                            <ng-template #noCourse> - </ng-template>
                        </td>
                    </tbody>
                </table>
                <div class="modal__buttons">
                    <button mat-button [mat-dialog-close] appPreventDoubleClick (throttledClick)="onNoClick()"
                        [throttleTime]="1000">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>