<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row screen-full-height">
    <div class="col-md-6 login-logo-container container-center">
        <img class="fx-grayscale-logo" alt="trainUP-logo" src="../../../assets/img/156638812088557421.png">
    </div>
    <div class="col-md-6">
        <div class="container-center screen-full-height">
            <div class="content">
                <div class="title title-border">
                    <h4>Log in to your account</h4>
                </div>
                <form id="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group flex">
                        <!-- <label> Email </label> -->
                        <i class="fa fa-user icon" aria-hidden="true"></i>
                        <div class="col">
                            <input type="text" placeholder="E-mail" formControlName="email" autocomplete="email"
                                id="email" />
                            <span *ngIf="submitted && controls.email.errors?.required" class="invalid-feedback"> Email
                                is required! </span>
                        </div>
                    </div>

                    <div class="form-group flex">
                        <!-- <label> Password </label> -->
                        <i class="fa fa-lock icon" aria-hidden="true"></i>
                        <div class="col">
                            <input type="password" placeholder="Password" formControlName="password"
                                autocomplete="current-password" id="password" />
                            <span *ngIf="submitted && controls.password.errors?.required" class="invalid-feedback">
                                Password is required! </span>
                        </div>
                    </div>

                    <div class="login-button">
                        <button type="submit" class="button"><span>Login</span></button>
                    </div>
                    <div class="wrong-input">
                        <span *ngIf="wrongInput">Wrong email or password. Try again!</span>
                        <span *ngIf="alreadyLoggedIn">You are already logged in!</span>
                    </div>
                    <div class="text-container">
                        <span>You don't have an account?&nbsp;</span>
                        <a [routerLink]="['/register']" class="btn btn-link">Register here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>