.title {
    font-size: 30px;
}

.modal__buttons {
    display: flex;
    justify-content: center;
}

.mat-button {
    background-color: gainsboro;
}

table {
    margin: 0 auto;
    border-spacing: 15px;
}

td {
    text-align: center;
}

th {
    font-weight: bold;
}