<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Available</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Project Manager</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.firstName }} {{ user.lastName }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.courses.courseName }}</td>
                    <!-- <td *ngFor="let course of user.courses">{{ course.courseName }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>