/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~ngx-toastr/toastr.css';


* {
    margin: 0px; 
    padding: 0px; 
}

body {
    background: white;
    width: 100%;
    height: 100vh;
}
 
/*for error div i */
div.error-message i{
    vertical-align: middle !important;
}

/*for tab control */
.tabs{
    height: 55px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 55px;
    height: 55px;
}
.tabs .tab a{
    font-size: 20px;
    color: grey !important;
}

.tabs .tab a.active{
    background-color: #fff !important;
}

.mat-sort-header-container {
    justify-content: center;
}










.table-hover tr:hover {
    background-color: #bed9fa !important;
}

.mat-menu-item:hover:not([disabled]) {
    background-color: #bed9fa !important;
}


:not(i) {
    font-family: 'Aleo', serif;
    font-size: 15px;
    font-weight: 500;
}

.mat-error {
    font-size: 11.9px !important;
}

h2 {
    font-size: 18px !important;
    font-weight: 800 !important;
  }