<div class='userDetailsContainer'>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account">
      <mat-icon>account_circle</mat-icon>
      <span>Logged in as: {{user.firstName}} {{ user.lastName }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <form (ngSubmit)="onStatistic()">
        <div>
          <button mat-menu-item type="submit">
            <span>Statistics</span>
          </button>
        </div>
      </form>
      <form (ngSubmit)="onSubmit()">
        <div>
          <button mat-menu-item type="submit">
            <span>Log out</span>
          </button>
        </div>
      </form>
    </mat-menu>
  </div>
</div>


<div class="container">
  <div class="col s10 offset-s1">
    <ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="prev" routerLink='prev' skipLocationChange
          routerLinkActive='active'>Previous Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="curr" routerLink='curr' skipLocationChange
          routerLinkActive='active'>Current Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" aria-controls="next" routerLink='next' skipLocationChange
          routerLinkActive='active'>Future Courses</a>
      </li>
    </ul>
    <div class="card-content white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>