::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #6699d3;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: black;
  }

.inputs__container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
}

.space-needed1 {
    margin-left: 100px;
}

.space-needed2 {
    margin-left: 125px;
}

.modal__buttons {
    display: flex;
    margin-top: 25px;
}

.title {
    margin-bottom: 15px;
}

.cancel-btn {
    background-color:#dc3545;
    margin-left: 50px;
    color: white;
}
.add-btn {
    background-color: #28a745;
    margin-left: 250px;
    color: white;
}