<div class="modal__overlay">
    <div class="modal">
        <div class="modal__content">
            <h2 class="title">Add Course</h2>
            <div class="inputs_container">
                <div class="left__container">
                    <input type="text" class="input" placeholder="Course Name">
                    <input type="text" class="input1" placeholder="Capacity">
                </div>
                <div class="right_container">
                    <input type="text" class="input" placeholder="Start Date">
                    <input type="text" class="input1" placeholder="End Date">
                </div>
            </div>
            <div class="modal__buttons">
              <button class="cancel-btn" mat-button (click)="onNoClick()">Cancel</button>
              <button class="add-btn" mat-button [mat-dialog-close]>Add</button>
            </div>
        </div>
    </div>
</div>