<div class="modal__overlay">
    <div class="modal">
        <div class="modal__content">
            <h2 class="title">Add Course</h2>
            <div class="inputs_container">
                <form [formGroup]="courseForm">
                <div class="left__container">
                    <mat-form-field>
                            <input matInput placeholder="Course Name" formControlName="name">
                                <mat-error *ngIf="submitted && controls.name.errors" class="invalid-feedback">Enter the course name</mat-error>
                    </mat-form-field>
                    <mat-form-field class="space-needed2">
                            <input matInput placeholder="Capacity" formControlName="capacity">
                                <mat-error *ngIf="submitted && controls.capacity.errors" class="invalid-feedback" >Enter the capacity</mat-error>
                    </mat-form-field>
                </div>
                <div class="right_container">
                    <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose Start Date" formControlName="startDate">
                                <mat-error *ngIf="submitted && controls.startDate.errors" class="invalid-feedback"></mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="space-needed1">
                            <input matInput [matDatepicker]="picker2" placeholder="Choose End Date" formControlName="endDate">
                                <mat-error *ngIf="submitted && controls.endDate.errors" class="invalid-feedback"></mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                </form>
            </div>
            <div class="modal__buttons">
              <button class="cancel-btn" mat-button (click)="onNoClick()">Cancel</button>
              <button class="add-btn" mat-button (click)="onClick()">Add</button>

            </div>
        </div>
    </div>
</div>