@import '~bootstrap/dist/css/bootstrap.min.css';


.all-container {
    text-align: center;
    margin: 0 auto;
}

table {
    display: inline;
}

button:focus {
    outline:0;
}

td {
    vertical-align: middle !important;
    text-align: center;
    padding:0% !important;
}
  
  .mat-stroked-button.mat-primary {
    color: black !important;
    font-size: 15px;
  }
  
  .mat-stroked-button:not([disabled]) {
    border-color: rgba(0,0,0,.5) !important;
  }

  mat-form-field {
    width: 90%;
  }

button:active {
  transform: translateY(2px)!important;
}

.edit-buttons {
    display: flex;
    justify-content: center;
}

.edit-buttons button {
  display: flex;
  justify-content: center;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black !important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #6699d3 !important;
  }

  ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) .mat-select-arrow {
      color: #6699d3 !important;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: black !important;
  }