<!-- <div class="modal__overlay">
    <div class="modal">
        <div class="modal__content">
            <h2 class="title">Enroll participants</h2>
            <form id="enroll" [formGroup]="enrollForm" (ngSubmit)="onSubmit()">
            <div class="inputs__container">
                <input type="text" class="input" placeholder="Training name" formControlName="trainingName">
                    <span *ngIf="submitted && controls.trainingName.errors" class="invalid-feedback">
                        <span *ngIf="controls.trainingName.errors.required">Training name is required!</span>
                    </span>
                <input type="text" class="input" placeholder="Number of participants" formControlName="nrParticipants">
                    <span *ngIf="submitted && controls.nrParticipants.errors" class="invalid-feedback">
                        <span *ngIf="controls.nrParticipants.errors.required">Number of participants is required!</span>
                    </span>
                <input matInput [matDatepicker]="picker" placeholder="Day of training" formControlName="trainingDay">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <input type="text" class="input" placeholder="Time interval" formControlName="timeInterval">
                    <span *ngIf="submitted && controls.trainingName.errors" class="invalid-feedback">
                        <span *ngIf="controls.timeInterval.errors.required">Time interval is required!</span>
                    </span>
            </div>
            <input type="text" class="textarea" placeholder="Participants" formControlName="participants">
                <span *ngIf="submitted && controls.participants.errors" class="invalid-feedback-textarea">
                    <span *ngIf="controls.participants.errors.required">Participants are required!</span>
                </span>
            </form>
            <div class="modal__buttons">
              <button mat-button (click)="onNoClick()">Cancel</button>
              <button type="submit" mat-button (click)="onSubmit()">Enroll</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="modal__overlay">
    <div class="modal">
        <div class="modal__content">
            <h2 class="title">Enroll participants</h2>
            <div class="inputs_container">
                <form [formGroup]="enrollForm">
                    <mat-form-field>
                        <input matInput placeholder="Training name" formControlName="trainingName">
                    </mat-form-field>
                    <mat-form-field class="space-needed2">
                        <input matInput placeholder="Number of participants" formControlName="nrParticipants">
                    </mat-form-field>
                    <div class="time">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Day of training" formControlName="trainingDay">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Time interval" formControlName="timeInterval">
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Participants" formControlName="participants">
                    </mat-form-field>
                </form>
            </div>
            <div class="modal__buttons">
                <button mat-button (click)="onNoClick()">Cancel</button>
                <button type="submit" mat-button (click)="onSubmit()">Enroll</button>
            </div>
        </div>
    </div>
</div> -->