* {
    font-family: 'Aleo', serif;
    font-size: 15px;
}

.title {
    font-size: 30px;
}

.modal__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.mat-button {
    background-color: gainsboro;
    font-family: 'Aleo', serif;
}

.chart-container {
    display: flex;
    justify-content: space-around;
}

td {
    text-align: center;
}