<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<div class="container-center screen-full-height">
    <div class="content">
        <div class="title title-border">
            <h4>Please enter your email:</h4>
        </div>
        <form id="login" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group flex">
                <i class="fa fa-user icon" aria-hidden="true"></i>
                <div class="col">
                    <input type="text" placeholder="Email" formControlName="email" autocomplete="email"
                        id="email" />
                    <span *ngIf="submitted && controls.email.errors?.required" class="invalid-feedback"> Email
                        is required! </span>
                </div>
            </div>
            <div class="send-button">
                <button type="submit" class="button"><span>Submit</span></button>
            </div>
            <div *ngIf="inexistentUser" class="wrong-input">The email you have submitted does not exist!</div>
        </form>
    </div>
</div>