::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: black;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #6699d3;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: black;
  }
  
  * {
    overflow: hidden;
  }

.title-border {
    margin-bottom: 10px;
}

.icon {
    font-size: 24px;
    color: black;
    margin-right: 15px;
    line-height: 31px;
}


.invalid-feedback {
    /* font-weight: bold; */
    color: red;
    position: absolute;
    margin-left: 5px;
}


.text-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group, .title-border {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrong-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}


.send-button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .mat-stroked-button.mat-primary {
    color: black !important;
    font-size: 15px;
  }
  
  .mat-stroked-button:not([disabled]) {
    border-color: rgba(0,0,0,.5) !important;
  }

  .content {
    margin-top: 50px;
  }