<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-center screen-full-height">
    <div class="content">
        <div class="title title-border">
            <h2>Please enter your email:</h2>
        </div>
        <form id="login" [formGroup]="forgotpasswordForm">
            <div class="form-group flex">
                <i class="fa fa-user icon" aria-hidden="true"></i>
                <div class="col">
                    <mat-form-field>

                        <input matInput type="text" placeholder="Email" formControlName="email" autocomplete="email"
                            id="email" />
                        <mat-error *ngIf="controls.email.errors?.required"> Email
                            is required!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="send-button">
                <button mat-stroked-button appPreventDoubleClick class="button"
                    (throttledClick)="onSubmit()" [throttleTime]="1000">Submit</button>
            </div>

            <mat-error *ngIf="inexistentUser" class="wrong-input">The email you have submitted does not exist!</mat-error>
        </form>
    </div>
</div>