<table matSort (matSortChange)="sortData($event)" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th mat-sort-header="courseName">Course Name</th>
            <th mat-sort-header="domain">Domain</th>
            <th mat-sort-header="capacity">Capacity</th>
            <th mat-sort-header="actualCapacity">Available</th>
            <th mat-sort-header="startDate">Start Date</th>
            <th mat-sort-header="endDate">End Date</th>
            <th mat-sort-header="timeInterval">Time Interval</th>
            <th mat-sort-header="projectManager">Project Manager</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of sortedData">
            <td>{{ course.courseName }}</td>
            <td>{{ course.domain }}</td>
            <td>{{ course.capacity }}</td>
            <td>{{ course.actualCapacity }}</td>
            <td>{{ course.startDate }}</td>
            <td>{{ course.endDate }}</td>
            <td>{{ course.timeInterval }}</td>
            <td>{{ course.projectManager }}</td>
        </tr>
    </tbody>
</table>