.not-found-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: lightblue;
    height: 100%;
}

.not-found-logo {
    margin-bottom: 50px;
    width: 400px;
    align-content: center;
}

.not-found-text {
    font-size: 32px;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}