.title-border {
    margin-bottom: 10px;
}

.login-logo-container {
    background-color: lightblue;
    margin-bottom: 50px;
}

.fx-grayscale-logo {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon {
    font-size: 24px;
    color: black;
    margin-right: 15px;
    line-height: 31px;
}

.col {
    padding: 0;
}

.invalid-feedback {
    /* font-weight: bold; */
    color: red;
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}

.btn-link {
    padding: 0;
}

.register-button, .button {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Aleo', serif;
    text-decoration: none;
    padding: 7px 15px;
    cursor: pointer;
    background: none;
    border-radius: 50px;
    outline : 0;
    border-color: lightgrey;
    border-width: 1.2px;
}

.button:hover {
    background-color: lightblue;
}

.button:active {
  background-color: lightcyan;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.text-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', serif;
}

.form-group, .title-border {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', serif;
}

.wrong-input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo', serif;
    color: red;
    margin-top: 10px;
}

.btn {
    background-color:transparent !important;
    text-transform: none;
    text-decoration: none;
    color: black;
    box-shadow: none;
    padding: 0cm;
    font-weight: bold;
    margin-left: 10px;
}

.btn:hover {
    box-shadow: none;
}


input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
    width: 80%;
    margin: 0 0 10px 0;
}