@import '~bootstrap/dist/css/bootstrap.min.css';

.all-container {
    text-align: center;
    margin: 0 auto;
}

table {
    display: inline;
}

.upperContainer {
    /* background-color:#b8e8f7; */
    background-color: #d7e8fd;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 10px;
}



/* LogOutButton */
.userDetailsContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 5px;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  right: 0px !important;
  width: 100% !important;
}

.mat-icon-button {
    width:0%;
}

.mat-menu-item {
    background-color: none !important;
}

button.mat-menu-item{
    background-color: white;
}

button:focus {
    outline:0;
}

td {
    text-align: center;
}

.btn-success {
    width: 50px;
    padding: 0px;
    font-size: 13px;
}

.btn-danger {
    width: 50px;
    padding: 0px;
    font-size: 13px;
}

img {
    width: 150px;
    height: 50px;
    margin-top: 0;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 10px;
}


#xbtn {
    width: 30px;
    padding: 0px;
    height: 25px;
  }
  