<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- LogOut Button -->
<div class='userDetailsContainer'>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account">
      <mat-icon>account_circle</mat-icon>
      <span>Logged in as: {{user.firstName}} {{ user.lastName }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <form (ngSubmit)="onSubmit()">
        <div>
          <button mat-menu-item type="submit">
            <span>Log out</span>
          </button>
        </div>
      </form>
    </mat-menu>
  </div>
</div>



<div class="all-container">
  <table matSort (matSortChange)="sortData($event)" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th mat-sort-header="firstName">First Name</th>
        <th mat-sort-header="lastName">Last Name</th>
        <th mat-sort-header="email">E-mail</th>
        <th mat-sort-header="course">Wish to enroll course</th>
        <th>Enroll</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of sortedData">
        <tr *ngFor="let course of user.wishToEnroll">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ course.courseName }}</td>
          <td><button type="button" class="btn btn-success">Yes</button><button type="button"
              class="btn btn-danger">No</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>