@import '~bootstrap/dist/css/bootstrap.min.css';


/* * {
    font-family: 'Aleo', serif;
} */

.all-container {
    text-align: center;
    margin: 0 auto;
    /* width: 100vw;
    height: 100vh; */
}

table {
    display: inline;
}

/* LogOutButton */
.userDetailsContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.mat-icon-button {
    width:0%;
}

.mat-menu-item {
    background-color: none !important;
}

button.mat-menu-item{
    background-color: white;
}

button:focus {
    outline:0;
}