<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class='userDetailsContainer'>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account">
            <i class="material-icons">account_circle</i>
            <span>{{user.firstName}} {{ user.lastName }}</span>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
                <div>
                <button mat-menu-item appPreventDoubleClick (throttledClick)="logout()" [throttleTime]="1000">
                    <span>Log out</span>
                </button>
            </div>
        </mat-menu>
    </div>
</div>

<router-outlet></router-outlet>

<h4 class="edit-buttons">Edit Users:</h4>

<div class="all-container">
    <table matSort (matSortChange)="sortDataUser($event)" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th mat-sort-header="id">id</th>
                <th mat-sort-header="email">E-mail</th>
                <th mat-sort-header="type">Type</th>
                <th mat-sort-header="firstName">First Name</th>
                <th mat-sort-header="lastName">Last Name</th>
                <th mat-sort-header="enable">Enable</th>
                <th mat-sort-header="leader">Leader</th>
                <th>Delete user</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of sortedDataUser;  let i = index">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <mat-form-field>
                        <mat-select [(value)]="selectedUserType[i]"
                            (selectionChange)="changeType(i, selectedUserType[i])">
                            <mat-option *ngFor="let type of types" [(value)]="type">{{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <mat-form-field>
                        <mat-select [(value)]="selectedUserEnable[i]"
                            (selectionChange)="changeEnable(i, selectedUserEnable[i])">
                            <mat-option *ngFor="let enable of enables" [(value)]=" enable">{{enable}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select [(value)]="selectedUserLeader[i]"
                            (selectionChange)="changeLeader(i, selectedUserLeader[i])">
                            <mat-option *ngFor="let leader of leaders" [(value)]="leader">{{leader}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button class="delete_button" appPreventDoubleClick (throttledClick)="deleteUser(user)"
                        [throttleTime]="1000" title="Delete user">
                        <i class="material-icons">delete_forever</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="edit-buttons">
    <button mat-stroked-button appPreventDoubleClick (throttledClick)="resetChangesUser()"
        [throttleTime]="1000"> Reset changes </button>
    <button mat-stroked-button appPreventDoubleClick (throttledClick)="saveChangesUser()"
        [throttleTime]="1000"> Save changes </button>
</div>


<br><br><br><br>
<h4 class="edit-buttons">Edit Courses:</h4>

<div class="all-container">
    <table matSort (matSortChange)="sortDataCourse($event)" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th mat-sort-header="id">id</th>
                <th mat-sort-header="courseName">Course Name</th>
                <th mat-sort-header="capacity">Capacity</th>
                <th mat-sort-header="actualCapacity">Actual Capacity</th>
                <th mat-sort-header="startDate">Start Date</th>
                <th mat-sort-header="endDate">End Date</th>
                <th mat-sort-header="projectManager">Project Manager</th>
                <th mat-sort-header="domain">Domain</th>
                <th mat-sort-header="timeInterval">Time Interval</th>
                <th>Delete course</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of sortedDataCourse;  let i = index">
                <td>{{ course.id }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.capacity }}</td>
                <td>{{ course.actualCapacity }}</td>
                <td>{{ course.startDate }}</td>
                <td>{{ course.endDate }}</td>
                <td>
                    <mat-form-field>
                        <mat-select [(value)]="selectedCoursePm[i]"
                            (selectionChange)="changeProjectManager(i, selectedCoursePm[i])">
                            <mat-option *ngFor="let pm of projectManagers" [(value)]="pm">{{pm}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select [(value)]="selectedCourseDomain[i]"
                            (selectionChange)="changeDomain(i, selectedCourseDomain[i])">
                            <mat-option *ngFor="let domain of domains" [(value)]="domain">{{domain}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>{{ course.timeInterval }}</td>
                <td>
                    <button class="delete_button" appPreventDoubleClick (throttledClick)="deleteCourse(course)"
                        [throttleTime]="1000" title="Delete course">
                        <i class="material-icons">delete_forever</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="edit-buttons">
    <button mat-stroked-button appPreventDoubleClick (throttledClick)="resetChangesCourse()"
        [throttleTime]="1000"> Reset changes </button>
    <button mat-stroked-button appPreventDoubleClick (throttledClick)="saveChangesCourse()"
        [throttleTime]="1000"> Save changes </button>
</div>