<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Course Name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Available</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Project Manager</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                  <td>{{ course.courseName }}</td>
                  <td>{{ course.capacity }}</td>
                  <td>{{ course.actualCapacity }}</td>
                  <td>{{ course.startDate }}</td>
                  <td>{{ course.endDate }}</td>
                  <td>{{ course.projectManager }}</td>
                  <td> <button (click)="rowClick(course)"> Wish to enroll </button> </td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>