<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<table matSort (matSortChange)="sortData($event)" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th mat-sort-header="courseName">Course Name</th>
            <th mat-sort-header="capacity">Capacity</th>
            <th mat-sort-header="actualCapacity">Available</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Project Manager</th>
            <th>Wish to enroll</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of sortedData">
            <td>{{ course.courseName }}</td>
            <td>{{ course.capacity }}</td>
            <td>{{ course.actualCapacity }}</td>
            <td>{{ course.startDate }}</td>
            <td>{{ course.endDate }}</td>
            <td>{{ course.projectManager }}</td>
            <td> <button (click)="rowClick(course)"><mat-icon>loyalty</mat-icon> Wish to enroll </button> </td>
        </tr>
    </tbody>
</table>