@import '~bootstrap/dist/css/bootstrap.min.css';


  button {
    font-size: 15px;
    margin-top: 0 auto;
    margin-right: 5px;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  mat-expansion-panel-header {
    max-width: 1500px;
    line-height: 1.6;
  }


  .upperContainer {
    /* background-color:#b8e8f7; */
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 10px;
}

  .mat-expansion-panel-header-title {
    width: 10% !important;
  }
  mat-expansion-panel {
    max-width: 1500px;
    margin: 0 auto;
  }

  mat-panel-description {
    display: flex;
    justify-content: space-around;
  }

  .btn-success {
    width: 60px;
    padding: 0px;
    font-size: 12px;
  }

  .btn-danger {
    width: 60px;
    padding: 0px;
    font-size: 12px;
    margin-right: 0px;
  }

  .btn-info {
      width: 60px;
      padding: 0px;
      background-color: #6699d3;

  }
  
/* LogOutButton */
.userDetailsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  right: 0px !important;
  width: 100% !important;
}


.mat-icon-button {
  width:0%;
}

.mat-menu-item {
  background-color: none !important;
}

button.mat-menu-item{
  background-color: white;
}

button:focus {
  outline:0;
}


/* .accepted > tr:last-child {
  border-bottom: 5px solid;
} */

.left-addon input  { 
  padding-left:  35px;
 }

.inner-addon {
  position: relative;
}

.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

#acceptAll {
  width: 80px;
  height: 30px;
}

#rejectAll {
  width: 80px;
  height: 30px;
}

#align-info {
  vertical-align: middle;
  text-align: center;
}

#xbtn {
  width: 30px;
  padding: 0px;
  height: 25px;
}

.align {
  text-align: center;
}


.inner-addon, .left-addon {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

mat-form-field {
 margin-left: 10px !important;
}

.mat-stroked-button.mat-primary {
  color: black !important;
  font-size: 15px;
}

.mat-stroked-button:not([disabled]) {
  border-color: rgba(0,0,0,.5) !important;
}

.add-btn-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-refused {
  background-color: rgb(245, 230, 230) !important;
}

.table-accepted {
  background-color: rgb(229, 243, 229) !important;
}