<slide-panel [activePane]="isTopVisible ? 'top' : 'bottom'">
    <div topPane>Cursul de smecherie</div>
    <div bottomPane>BOTTOM</div>
</slide-panel>

  <button (click)="isTopVisible = !isTopVisible">
    Switch me !
  </button>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
       <mat-panel-title>
          Cursul de smecherie
       </mat-panel-title>
       <mat-panel-description>
          Check potential participants
       </mat-panel-description>
    </mat-expansion-panel-header>

    <table matSort (matSortChange)="sortData($event)" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th mat-sort-header="firstName">First Name</th>
            <th mat-sort-header="lastName">Last Name</th>
            <th mat-sort-header="email">E-mail</th>
            <th>Confirmation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of sortedData">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td><button type="button" class="btn btn-success">Accept</button><button type="button" class="btn btn-danger">Deny</button></td>
        </tr>
        </tbody>
    </table>

    <div>
        <button mat-raised-button (click)="openDialog()">Add Course</button>
    </div>

 </mat-expansion-panel>
 