@import '~bootstrap/dist/css/bootstrap.min.css';
 
:host {
    display: block;
    text-align: center; 
  }
  
  button {
    font-size: 15px;
    margin-top: 0 auto;
    margin-right: 5px;
    text-align: center;
  }

  slide-panel {
    border: 6px solid #FF6060;
    max-width: 1500px;
    height: 350px;
    margin: 0 auto;
  }

  slide-panel div {
    font: 20px sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   slide-panel .panes {
    border: 6px dashed #4990E2;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }

  mat-expansion-panel-header {
    max-width: 1500px;
  }
  mat-expansion-panel {
    max-width: 1500px;
    margin: 0 auto;
  }

  .btn {
    width: 60px;
    padding: 0px;
  }
  
[topPane]  { background-color: #FFF897; }
[bottomPane] { background-color: #6CE6CB; }


/* LogOutButton */
.userDetailsContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.mat-icon-button {
  width:0%;
}

.mat-menu-item {
  background-color: none !important;
}

button.mat-menu-item{
  background-color: white;
}

button:focus {
  outline:0;
}